body {
    background-color: rgb(219, 219, 219);
    margin: 0;
    /* the below code hides horizontal scrollbar https://stackoverflow.com/questions/18645870/responsive-website-how-to-get-rid-of-horizontal-scroll-bar */
    overflow-x: hidden;
}

/*-- Nav Section --*/

.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 99;
}

.bg-color {
    background-color: #8B24B3;
}

/*-- Hero Section --*/
.hero-image {
    background-image: url("/assets/images/cafe-background.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-heading {
    color: white;
}

.hero-text-box {
    padding-top: 200px;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*-- Main Section --*/

.menu-box {
    border: 2px solid red;
    min-height: 500px;
}

.menu-item {
    border: 1px solid purple;
}

.menu-item-price {
    float: right;
}

/*-- Gallery Section --*/

.gallery-box {
    border: 2px solid rgb(0, 140, 255);
    min-height: 500px;
}


/*-- Contact Section --*/

.contact-box {
    border: 2px solid rgb(141, 14, 124);
    min-height: 500px;
}

.contact-info {
    border: 1px solid green;
    height: 200px;
}

/*-- Footer Section --*/

.bg-footer {
    background-color:#2b2b2b;
    color: white;
    height: 100px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    color: #fafafa;
}