body {
    background-color: rgb(219, 219, 219);
    margin: 0;
}

/*------------- Hero Section --*/
.bg-image {
    background-color: cadetblue;
    min-height: 600px;
}

/*------------- Main Section --*/

.menu-box {
    border: 2px solid red;
    min-height: 500px;
}

.menu-item {
    border: 1px solid purple;
}

.menu-item-price {
    float: right;
}

/*------------- Gallery Section --*/

.gallery-box {
    border: 2px solid rgb(0, 140, 255);
    min-height: 500px;
}

/*------------- Contact Section --*/

.contact-box {
    border: 2px solid rgb(141, 14, 124);
    min-height: 500px;
}

.contact-info {
    border: 1px solid green;
    height: 200px;
}

/*------------- Footer Section --*/

.bg-footer {
    background-color:#2b2b2b;
    color: white;
    height: 100px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    color: #fafafa;
}